:root {
    --red: hsl(0, 100%, 67%);
    --yellow: hsl(39, 100%, 56%);
    --green: hsl(166, 100%, 37%);
    --blue: hsl(234, 85%, 45%);

    --red-bg: hsla(0, 100%, 67%, 0.1);
    --yellow-bg: hsla(39, 100%, 56%, 0.1);
    --green-bg: hsla(166, 100%, 37%, 0.1);
    --blue-bg: hsla(234, 85%, 45%, 0.1);

    --white: hsl(0, 0%, 100%);
    --neutral-blue: hsl(221, 100%, 96%);
    --neutral-purple: hsl(241, 100%, 89%);
    --neutral-gray: rgb(48, 59, 90);

    --background-gradient: linear-gradient(to bottom, #7857ff, rgb(46, 43, 233));
    --circle-gradient: linear-gradient(#4e21ca, #2421ca00);

    --font: "Hanken Grotesk", sans-serif;
    
    --text: 1.125rem/125% var(--font);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}