.score-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-card__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

    gap: 30px;

    background: var(--background-gradient);
}