/* SCORE-CARD */
.score-card {
    display: flex;
    flex-direction: column;
}

/* RESULT SECTION */
.score-card__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    gap: 1.25rem;

    background: var(--background-gradient);

    border-radius: 0 0 2.1875rem 2.1875rem;
}

.score-card__label {
    margin-top: 1.5625rem;
    color: var(--neutral-purple);
}

/* CIRCLE */
.score-card__accuracy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--circle-gradient);
    
    width: 7.5rem;
    height: 7.5rem;

    padding: 0.625rem;
    border-radius: 50%;
}

.score-card__accuracy .score-card__value {
    font-weight: 700;
    font-size: 3.5rem;
    color: var(--white);
}

.score-card__accuracy .score-card__value-total {
    color: var(--neutral-purple);
    font-weight: 500;
}

/* FEEDBACK */
.score-card__feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 3.75rem;
}

.score-card__feedback h3 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
}

.score-card__feedback p {
    padding-block: 0.625rem 2.6875rem;
    text-align: center;
    color: var(--neutral-purple);
}

/* SUMMARY */
.score-card__summary {
    padding: 1.5625rem 1.875rem;
}

.score-card__summary h3 {
    color: var(--neutral-gray);
    margin-bottom: 1.25rem;
}

.score-card__summary span {
    font-weight: 600;
}

/* LIST */
.score-card__list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 1.5625rem;
}

.score-card__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.625rem;
    padding: 1rem 0.625rem;
}

.score-card__item div {
    display: flex;
}

.score-card__item img {
    margin-right: 0.625rem;
}

.score-card__item-hit {
    color: gray;
}

.score-card__item-hit span {
    padding-inline: 0.3125rem;
}

.score-card__value {
    color: var(--neutral-gray);
}

/* COLORS */
.score-card__item--reaction {
    background-color: var(--red-bg);
}

.score-card__item--reaction .score-card__item-label {
    color: var(--red);
}

.score-card__item--memory {
    background-color: var(--yellow-bg);
}

.score-card__item--memory .score-card__item-label {
    color: var(--yellow);
}

.score-card__item--verbal {
    background-color: var(--green-bg);
}

.score-card__item--verbal .score-card__item-label {
    color: var(--green);
}

.score-card__item--visual {
    background-color: var(--blue-bg);
}

.score-card__item--visual .score-card__item-label {
    color: var(--blue);
}

/* BUTTON */
.score-card__summary a {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 3.4375rem;
    border-radius: 3.125rem;

    font-size: 1.125rem;
    font-weight: 600;
    color: var(--white);

    background: var(--neutral-gray);
    border: 0;
}

.score-card__summary a::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 3.125rem;

    background: var(--background-gradient);

    opacity: 0;
    transition: opacity .2s ease;

    z-index: -1;
}

.score-card__summary a:hover::before {
    opacity: 1;
    cursor: pointer;
}

/* DESKTOP */
@media (min-width: 48rem) {

    main {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .score-card {
        flex-direction: row;
        width: 70vw;
        padding: 0;
        box-shadow: 0 0.9375rem 3.125rem -0.625rem rgba(46,43,233,0.18);
        border-radius: 2.1875rem;
    }

    .score-card__result {
        border-radius: 2.1875rem;
        width: auto;
        justify-content: space-between;
        padding-inline: 1.25rem;
    }

    .score-card__label {
        margin-top: 1.875rem;
        padding: 0;
    }

    .score-card__accuracy {
        width: 11.625rem;
        height: 11.25rem;
        padding: 0;
    }

    .score-card__feedback {
        padding-inline: 1.875rem;
    }

    .score-card__summary {
        width: 100%;
    }

    .score-card__title {
        font-size: 1.25rem;
    }
}