.score-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-card__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

    gap: 25px;

    background: var(--background-gradient);

    border-radius: 0px 0px 35px 35px;
}

.score-card__label {
    margin-top: 30px;
    color: var(--neutral-purple);
}

.score-card__accuracy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--circle-gradient);
    
    width: 120px;
    height: 120px;

    padding: 10px;
    border-radius: 50%;

    & .score-card__value {
        font-weight: 800;
        font-size: 4em;
        line-height: 1;
        color: var(--white);
    }

    & .score-card__value-total {
        color: var(--neutral-purple);
        font-weight: 500;
    }
}

.score-card__feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 60px;
    & h3 {
        color: var(--white);
        font-size: 24px;
        font-weight: 600;
    }
    & p {
        padding-block: 10px 40px;
        text-align: center;
        color: var(--neutral-purple);
    };
    
}

