.score-card {
    display: flex;
    flex-direction: column;
}

.score-card__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

    gap: 20px;

    background: var(--background-gradient);

    border-radius: 0px 0px 35px 35px;
}

.score-card__label {
    margin-top: 25px;
    color: var(--neutral-purple);
}

.score-card__accuracy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--circle-gradient);
    
    width: 120px;
    height: 120px;

    padding: 10px;
    border-radius: 50%;

    & .score-card__value {
        font-weight: 700;
        font-size: 3.5em;
        color: var(--white);
    }

    & .score-card__value-total {
        color: var(--neutral-purple);
        font-weight: 500;
    }
}

.score-card__feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 60px;
    & h3 {
        color: var(--white);
        font-size: 24px;
        font-weight: 600;
    }
    & p {
        padding-block: 10px 43px;
        text-align: center;
        color: var(--neutral-purple);
    };    
}

.score-card__summary {
    padding: 25px 30px;

    & h3 {
        color: var(--neutral-gray);
        margin-bottom: 20px;
    }

    & span {
        font-weight: 600;
    }

    & .score-card__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 25px;

        & .score-card__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            padding: 16px 10px;
            
            & div {
                display: flex;

                & img {
                    margin-right: 10px;
                }
            }

            & .score-card__item-hit {
                color: gray;
            }

            & .score-card__item-hit span {
                padding-inline: 5px;
            }

            & .score-card__value {
                color: var(--neutral-gray);
            }
        }
    }
    
    & .score-card__item--reaction {
        background-color: var(--red-bg);
        & div:first-child span {
            color: var(--red);
        }
    }

    & .score-card__item--memory {
        background-color: var(--yellow-bg);
        & div:first-child span {
            color: var(--yellow);
        }
    }

    & .score-card__item--verbal {
        background-color: var(--green-bg);
        & div:first-child span {
            color: var(--green);
        } 
    }

    & .score-card__item--visual {
        background-color: var(--blue-bg);
        & div:first-child span {
            color: var(--blue);
        } 
    }

    & a {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 55px;
    border-radius: 50px;

    font-size: 18px;
    font-weight: 600;
    color: var(--white);

    background: var(--neutral-gray);
    border: 0;
    }

    & a::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50px;

        background: var(--background-gradient);

        opacity: 0;
        transition: opacity .2s ease;

        z-index: -1;
    }

    & a:hover::before {
        opacity: 1;
        cursor: pointer;
    }
}

@media (min-width: 768px) {

    * {
        box-sizing: border-box;
    }

    main {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .score-card {
        flex-direction: row;
        width: 70vw;
        padding: 0;
        box-shadow: 0px 15px 50px -10px rgba(46,43,233,0.18);
        border-radius: 35px;
    }

    .score-card__result {
        border-radius: 35px;
        width: auto;
        justify-content: space-between;
        padding-inline: 20px;
    }

    .score-card__label {
        margin-top: 30px;
        padding: 0;
    }

    .score-card__accuracy {
        width: 186px;
        height: 180px;
        padding: 0;
    }

    .score-card__feedback {
        padding-inline: 30px;
    }

    .score-card__summary {
        width: 100%;
    }

    .score-card__title {
        font-size: 20px;
    }
}